body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-family: 'Raleway' , 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
 }
.contacts {
    font-style: normal;
}
.studio-n{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.studio-n:hover{
   
        color: #404bbf;
}
.studio-n:focus {
 
        color: #404bbf;
}
.portfolio-n {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-n:hover {
   
        color: #404bbf;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.portfolio-n:focus{
    color: #404bbf;
}
.contacts-n {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.contacts-n:hover {
        color: #404bbf;
}
.contacts-n:focus{
    color: #404bbf;
}

.mailto {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.mailto:focus{
    color: #404BBF;
}
.mailto:hover{
    color: #404BBF;
}
.tel{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.tel:focus{
color: #404BBF;
}
.tel:hover{
    color: #404BBF;
}


.header{
    background-color: #FFFFFF;
   
}

.web {
font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.studio {
    font-family: 'Roboto';
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}
   

a{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2E2F42;
  
}
a:hover{
    color: #404BBF;
    
}




h1 {
    font-family: 'Roboto';
     font-weight: 'Bold' ;
    font-size: 56px ;
    letter-spacing: 2% ;
    Line-Height: 60px;
    }

.button{
    border-radius: 4px;
       
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4D5AE5;
        cursor:pointer;
       }
.but-name{
    font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #FFFFFF;
}

.button:hover{
    border-radius: 4px;
        padding: 16px 32px;
        
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #404BBF;
}
h2{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        
        color: #2e2f42;
}
.advant h3{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.advant p {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-time h3{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        
        color: #2e2f42;
}
.our-time p{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
       
        color: #434455;
}
.our-portfolio h3{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.our-portfolio p{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
.foot {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #000;
}
